%html
  %head
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    -# %link{:rel => "stylesheet", :href => "https://bootswatch.com/4/cyborg/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "style.css"}
  %body
    .container
      .row
        .col-md-8.col-md-offset-2.col-sm-12.pt-5
          %h1
            Who's at RC? <i id="fadelogo" class="fas fa-rss"></i>
          %h4.text-muted.pt-2 These Recursers are in the space:
          %ul.names-list.pt-2
            - @users.each do |user|
              %li
                %h4
                  = user.name
          %br
          %p
            %em
              %span#registeredUsersCount
                = @registered_users
              users registered,  
              %span#onlineUsersCount
                = @users.length
              users online now
          %a{:href => "https://recurse.zulipchat.com/#narrow/pm-with/119739-thenewrcdash-bot"}
            %button.btn.btn-primary{:type => "button"}
              Sign up <i class="fas fa-external-link-alt"></i>
          %button.btn.btn-info{:type => "button", :"data-toggle" => "collapse", :"data-target" => "#explainerBox", :"aria-expanded" => "false", :"aria-controls" => "explainerBox"}
            How does this work?
          %button.btn.btn-warning{:type => "button", :"data-toggle" => "collapse", :"data-target" => "#helpBox", :"aria-expanded" => "false", :"aria-controls" => "helpBox"}
            Help!
          .collapse.pt-2#explainerBox
            %ol
              %li You find the MAC address of your phone or laptop, and tell the Zulip bot what it is.
              %li The bot adds a record, associating your Zulip user with that MAC address.
              %li The Raspberry Pi in the space sniffs all packets for 15 seconds every minute. From the packets it gets a list of all the unique MAC addresses it saw, and sends them to the server.
              %li The server updates the <code>last_seen</code> entry for any user records that match those MAC addresses.
          .collapse.pt-2#helpBox
            %p If you aren't showing up in the list and you think you ought to be:
            %ul
              %li Make sure your device is powered on and connected to the Recurse Center wi-fi network. If your machine is off/sleeping or disconnected, it won't show up.
              %li Packets are only sniffed for 15 seconds every minute. Wait a minute or two after registering for your device to be registered.
              %li It's possible the packet sniffer has died. If you're feeling adventurous, SSH into the Raspberry Pi in the main space, run <code>screen -r</code> and see what's happened. Otherwise <a href="mailto:henry@henrystanley.com">email Henry</a> for help :)
    %script{:src => "fade.js"}