<html>
  <body>
    <h1>RC Dashboard</h1>
    <h2>These Recursers are in the space:</h2>
    <ul>
    <% @users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
    </ul>
    <p>go say hi or something</p>
    <br>
    <em><%= @registered_users %> users registered</em>
    <br>
    <p>To register, send a message to <b>RC Dashbot</b> on Zulip.</p>
  </body>
</html>